build --action_env BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1

common --platforms @zig_sdk//libc_aware/platform:linux_amd64_musl
common --extra_toolchains @zig_sdk//libc_aware/toolchain:linux_amd64_musl
common --extra_toolchains @zig_sdk//libc_aware/toolchain:linux_amd64_gnu.2.17
